extends header
block content
    // main-content div Starts here
    .main-content
      // wrapper div Starts here
      .wrapper
        // top bar div Starts here
        .top-bar
          .container
            .float-left
              p
                i.fa.fa-phone
                | Call : 888-654-3210
            .float-right
              ul.cart
                li
                  a(href='#')
                    i.fa.fa-sign-in
                    | Sign in
                  |  (or) 
                  a(href='#') Logout
                li
                  i.fa.fa-shopping-cart
                  | (0) items in cart | ($0.00)
        // top bar div Ends here
         // header div Starts here
        header.header1
          .container
            a#logo(href='/')
            nav#main-menu.sf-menu
              ul
                li.menu-item.current-page-item
                  a(href='/') Home
                  ul.sub-menu
                    li.menu-item
                      a(href='/') Home layout 1
                    li.menu-item
                      a(href='home-layout2.html') Home layout 2
                    li.menu-item
                      a(href='home-layout3.html') Home layout 3
                li.menu-item
                  a(href='/menu') Menu
                li.menu-item
                  a(href='/shop') Shop
                 
               
                li.menu-item
                  a(href='contact.html') Contact
          .header-bottom
        // header div Ends here
        .main-container
          .container
            section#primary.content-full-width
              .product
                .dt-sc-one-half.column.first
                  .border
                    .images.product-thumb
                      img(src='http://placehold.it/520X535&text=Product1', alt='', title='')
                .dt-sc-one-half.column
                  .summary.entry-summary
                    a.product_meta(href='#') Vegeterian
                    h2.product_title.entry-title Tuna Chops Per Plate
                    p.price
                      span.amount $25.00
                    p
                      | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    form.cart(action='#')
                      .dt-sc-one-third.column.first
                        label Select Quantity
                        select
                          option 3
                          option 4
                          option 5
                        input.small.theme-btn.dt-sc-button(type='submit', value='add to cart')
                      .dt-sc-two-third.column
                        label Select Variety
                        select
                          option Spicy
                          option Spicy 1
                          option Spicy 2
                        input.small.theme-btn.dt-sc-button(type='submit', value='add to wishlist')
                .margin50
                .dt-sc-tabs-container
                  ul.dt-sc-tabs-frame
                    li
                      a.current(href='#') Description
                    li
                      a(href='#') Reviews
                  .dt-sc-tabs-frame-content(style='display:block;')
                    p
                      b Richard McClintock,
                      |  a Latin professor at Hampden-
                    h2 How fresh is this item?
                    | Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                    p
                    p
                      | Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will
                    p
                      | Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis, id venenatis nibh accumsan.
                    h2 Ingredients
                    ul.dt-sc-fancy-list.beer
                      li Lorem ipsum dolor sit
                      li Praesent convallis nibh
                  .dt-sc-tabs-frame-content(style='display:none;')
                    p
                      | Aliquam euismod feugiat est, congue elementum justo condimentum sit amet. Nullam vitae risus ut velit condimentum egestas vitae eget enim. Vivamus cursus, sem sed tristique posuere, libero tellus dictum nisl, nec rhoncus odio odio et orci. Ut placerat aliquam elit, id egestas sem. Sed tristique eu libero et malesuada. Pellentesque non pharetra dui. Aliquam vel augue eu augue ornare ullamcorper.
              .margin50
              h2.block-title Recommended Items
              ul.products
                li.product.dt-sc-one-fourth.column.first
                  .border
                    .product-thumb
                      a(href='/shopdetail')
                        span.non-veg
                        img(src='http://placehold.it/520X535&text=Product2', alt='', title='')
                    .product-details
                      .product-title
                        a(href='/shopdetail')
                          h2 Tuna Chops
                      a.dt-sc-button.small.theme-btn(href='#') Select Options
                      span.price $15.00
                li.product.dt-sc-one-fourth.column
                  .border
                    .product-thumb
                      a(href='/shopdetail')
                        span.veg
                        img(src='http://placehold.it/520X535&text=Product3', alt='', title='')
                    .product-details
                      .product-title
                        a(href='/shopdetail')
                          h2 Grilled Chicken
                      a.dt-sc-button.small.theme-btn(href='#') Select Options
                      span.price $15.00
                li.product.dt-sc-one-fourth.column
                  .border
                    .product-thumb
                      a(href='/shopdetail')
                        span.non-veg
                        img(src='http://placehold.it/520X535&text=Product4', alt='', title='')
                    .product-details
                      .product-title
                        a(href='/shopdetail')
                          h2 Fish Chops
                      a.dt-sc-button.small.theme-btn(href='#') Select Options
                      span.price $15.00
                li.product.dt-sc-one-fourth.column
                  .border
                    .product-thumb
                      a(href='/shopdetail')
                        span.non-veg
                        img(src='http://placehold.it/520X535&text=Product5', alt='', title='')
                    .product-details
                      .product-title
                        a(href='/shopdetail')
                          h2 Mutton Chops
                      a.dt-sc-button.small.theme-btn(href='#') Select Options
                      span.price $15.00
              .margin50
        .footer-top
          span.driver-logo
        footer
          .container
            .dt-sc-one-fourth.column.first
              aside.widget.hotel-timing
                h3.widgettitle Hotel Hours
                ul
                  li
                    span.day Monday: 
                    |  10 am - 10 pm
                  li
                    span.day Tuesday: 
                    |  10 am - 10 pm
                  li
                    span.day Wednesday: 
                    |  10 am - 10 pm
                  li
                    span.day Thursday: 
                    |  10 am - 10 pm
                  li
                    span.day Friday: 
                    |  10 am - 10 pm
                  li
                    span.day Saturday: 
                    |  10 am - 10 pm
                  li
                    span.day Sunday: 
                    |  Holiday
                span.closed CLOSED Mondays & Tuesday 
            .dt-sc-one-fourth.column
              aside.widget.hotel-booking
                h3.widgettitle Make a Booking
                ul
                  li
                    h4 Lunch Timings:
                    p Wed - Sat|12.00pm - 3pm
                  li
                    h4 Dinner Timings:
                    p
                      | Tue - Sun|5.30pm-10.00 pm 
                      span BOOKINGS CLOSED on Mondays & Tuesday
                a.dt-sc-button.small.theme-btn(href='#') Book Now
            .dt-sc-one-half.column
              h3.widgettitle Contact Us
              .dt-sc-one-half.column.first
                aside.widget.widget_text
                  #footer_map  
              .dt-sc-one-half.column
                aside.widget.widget_text
                  p
                    span.fa.fa-map-marker
                    strong Address:
                    |  143 - 158, Bernie Road, Kansas, US
                  p
                    span.fa.fa-phone
                    strong Phone:
                    |  020 7326 4987
                  p
                    span.fa.fa-envelope
                    strong Mail:
                    a(href='#') enquiries@gmail.com
                aside.widget.social-icons
                  h3.widgettitle We are Social:
                  ul
                    li
                      a(href='#')
                        img(src='images/sociable/hover/twitter.png', alt='twitter.png', title='')
                        img(src='images/sociable/twitter.png', alt='twitter.png', title='')
                    li
                      a(href='#')
                        img(src='images/sociable/hover/google.png', alt='twitter.png', title='')
                        img(src='images/sociable/google.png', alt='twitter.png', title='')
                    li
                      a(href='#')
                        img(src='images/sociable/hover/facebook.png', alt='twitter.png', title='')
                        img(src='images/sociable/facebook.png', alt='twitter.png', title='')
                    li
                      a(href='#')
                        img(src='images/sociable/hover/pinterest.png', alt='twitter.png', title='')
                        img(src='images/sociable/pinterest.png', alt='twitter.png', title='')
          .footer-info
            .container
              p.copyright
                | © 2013 
                a(href='http://themeforest.net/user/BuddhaThemes/portfolio')  BuddhaThemes
                | . Bella Motel
              ul.footer-links
                li
                  a(href='index.html') Home
                  | /
                li
                  a(href='menu.html') Menu
                  | /
                li
                  a(href='shop.html') Shop
                  | /
                li
                  a(href='about.html') About
                  | /
                li
                  a(href='features.html') Features
                  | /
                li
                  a(href='blog.html') Blog
                  | /
                li
                  a(href='shortcodes.html') Shortcodes
                  | /
                li
                  a(href='contact.html') Contact
      // wrapper div Ends here
    // main-content div Ends here
    // Java Scripts
    script(type='text/javascript', src='js/jquery-1.10.2.min.js')
    script(type='text/javascript', src='js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/jquery-easing-1.3.js')
    script(type='text/javascript', src='js/superfish.min.js')
    script(type='text/javascript', src='js/hoverIntent.js')
    script(type='text/javascript', src='js/jquery.slicknav.min.js')
    script(type='text/javascript', src='js/jquery.carouFredSel-6.2.1-packed.js')
    script(type='text/javascript', src='js/jquery.tabs.min.js')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='js/jquery.gmap.min.js')
    script(src='js/custom.js')
