    <!-- Banner Starts -->
            <div class="fullwidthbanner-container banner">
                <div class="fullwidthbanner">
                    <ul>
                    
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                        <img src="http://placehold.it/1920X500&text=Banner1" alt="Slider BG" >
     
                                 
                             
     <div class="caption sft"
                                 data-x="57"
                                 data-y="0"
                                 data-speed="300"
                                 data-start="1000"
                                 data-easing="easeOutBack"  ><img src="http://placehold.it/351X500&text=ipad" alt="Image 7"></div>
                                 <div class="caption sfb"
                                 data-x="254"
                                 data-y="0"
                                 data-speed="300"
                                 data-start="2000"
                                 data-easing="easeOutBack"  ><img src="http://placehold.it/590X500&text=Mac" alt="Image 7"></div>
                        <img src="http://placehold.it/1920X500&text=Banner2" alt="Slider BG" >
     <div class="caption sft"
                                 data-x="666"
                                 data-y="0"
                                 data-speed="300"
                                 data-start="2500"
                                 data-easing="easeOutBack"  ><img src="http://placehold.it/196X500&text=iphone" alt="Image 7"></div>        
                </li>
                      <li data-transition="flyin" data-slotamount="1" data-masterspeed="300">
                        <img src="http://placehold.it/1920X500&text=Banner1" alt="Slider BG" >
     <div class="caption sfb"
                                 data-x="30"
                                 data-y="0"
                                 data-speed="300"
                                 data-start="2000"
                                 data-easing="easeOutBack"  ><img src="http://placehold.it/867X500&text=Chef-Girl" alt="Image 7"></div>
                                  <div class="caption randomrotate"
                             data-x="371"
                             data-y="308"
                             data-speed="800"
                             data-start="2500"
    
                             data-easing="easeOutExpo"  ><img src="../images/revolution/logo.png" alt="Image 4"></div>
                        <div class="caption big_gray sfl"
                             data-x="160"
                             data-y="374"
                             data-speed="300"
                             data-start="3000"
                             data-easing="easeOutExpo"  >Awesome Restaurant Theme</div>
    
                      
    
                       
                             
                      <div class="caption red-pac randomrotate"
                             data-x="647"
                             data-y="370"
                             data-speed="800"
                             data-start="3800"
    
                             data-easing="easeOutExpo"  ><a href="#">Purchase Theme</a></div>
                             
                               <div class="caption randomrotate"
                             data-x="16"
                             data-y="67"
                             data-speed="800"
                             data-start="4500"
    
                             data-easing="easeOutExpo"  ><img src="http://placehold.it/241X193&text=Quote" alt="Image 4"></div>
                </li>
                    
                  <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-delay="10000" >
                            <img src="http://placehold.it/1920X500&text=Banner1"  alt="slider-bg"  data-fullwidthcentering="on">
                            <div class="tp-caption lfl"
                                data-x="600" 
                                data-y="0" 					 
                                data-speed="1000" 
                                data-start="500" 
                                data-easing="easeOutExpo"> <img src="http://placehold.it/369X500&text=Chef" alt="Image 1">					 					 
                            </div>
                            
                            
                            
                    <div class="tp-caption custom_title lft skewfromrightshort"
                                data-x="0" 
                                data-y="130" 					 
                                data-speed="1000" 
                                data-start="2500" 
                                data-easing="easeOutExpo"><span>Welcome </span>Everybody 				 					 
                            </div>
                        
                            <div class="tp-caption custom_subtitle sft"
                                data-x="0" 
                                data-y="186" 					 
                                data-speed="1000" 
                                data-start="3000" 
                                data-easing="easeOutExpo">Most intact restaurant theme					 					 
                            </div>
                        
                            <div class="tp-caption custom_content sfl"
                                data-x="2" 
                                data-y="247" 					 
                                data-speed="1000" 
                                data-start="3500" 
                                data-easing="easeOutExpo">This theme will well suit your Restaurant and Bakery Business. <br>
    Give an uplift to your business now!					 					 
                            </div>
                        
                            <div class="tp-caption randomrotate"
                                data-x="0" 
                                data-y="335" 					 
                                data-speed="1000" 
                                data-start="4000" 
                                data-easing="easeOutExpo"><img src="../images/revolution/cook.png" alt="Image 9">					 					 
                            </div>
                        
                            <div class="tp-caption custom_service sft"
                                data-x="50" 
                                data-y="344" 					 
                                data-speed="1000" 
                                data-start="4500" 
                                data-easing="easeOutExpo">We Cook					 					 
                            </div>
                        
                            <div class="tp-caption randomrotate"
                                data-x="140" 
                                data-y="335" 					 
                                data-speed="1000" 
                                data-start="5000" 
                                data-easing="easeOutExpo"><img src="../images/revolution/accomodate.png" alt="Image 6">					 					 
                            </div>
                        
                            <div class="tp-caption custom_service sfr"
                                data-x="190" 
                                data-y="344" 					 
                                data-speed="1000" 
                                data-start="5000" 
                                data-easing="easeOutExpo">We Accomodate					 					 
                            </div>
                        
                            <div class="tp-caption randomrotate"
                                data-x="345" 
                                data-y="335" 					 
                                data-speed="1000" 
                                data-start="5500" 
                                data-easing="easeOutExpo"><img src="../images/revolution/serve.png" alt="Image 9">					 					 
                            </div>
                        
                            <div class="tp-caption custom_service sft"
                                data-x="395" 
                                data-y="344" 					 
                                data-speed="1000" 
                                data-start="6000" 
                                data-easing="easeOutExpo">We Serve				 					 
                            </div>
                        </li>
                        
                        
                        
                        
                  </ul>
                </div>
            </div><!-- Banner Ends -->
            <div class="banner-bottom-arrow">
            </div>
            <div class="home-ribbon">
                <div class="container">
                    <p class="theme-ribbon ribbon">Some text here. This makes an impact</p>
                </div>
            </div>
            <div class="main-container">
                <div class="container">
                    <section id="primary" class="content-full-width">
                        <div class="service-ico">
                            <ul>
                                <li><a href="#"><span class="fa fa-coffee"></span>We Cook</a></li>
                                <li><a href="#"><span class="fa fa-home"></span>We Accomodate</a></li>
                                <li><a href="#"><span class="fa fa-cutlery"></span>We Serve</a></li>
                                <li><a href="#"><span class="fa fa-umbrella"></span>We Care</a></li>
                            </ul>
                            <a href="#" class="dt-sc-button theme-btn small">Book a Table</a>
                        </div>
                        <hr />
                        <h2 class="block-title">Featured Products - 3 Columns</h2>
                        <div class="product-carousel-wrapper">
                            <ul class="products caroufred_items">
                                <li class="product dt-sc-one-third">
                                    <div class="border">
                                        <div class="product-thumb"> <a href="shop-detail.html"> <span class="non-veg"></span> <img title="" alt="" src="http://placehold.it/520X535&text=Product1"> </a> </div>
                                        <div class="product-details">
                                            <div class="product-title">
                                                <a href="shop-detail.html"><h2>Tuna Chops</h2></a>
                                            </div>
                                            <a href="#" class="dt-sc-button small theme-btn">Select Options</a>
                                            <span class="price">$15.00</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="product dt-sc-one-third">
                                    <div class="border">
                                        <div class="product-thumb">
                                            <a href="shop-detail.html">
                                                <span class="veg"></span>
                                                <img title="" alt="" src="http://placehold.it/520X535&text=Product2">
                                            </a>
                                        </div>
                                        <div class="product-details">
                                          <div class="product-title">
                                                <a href="shop-detail.html"><h2>Deep Prawn Fry</h2></a>
                                            </div>
                                            <a href="#" class="dt-sc-button small theme-btn">Select Options</a>
                                            <span class="price">$15.00</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="product dt-sc-one-third">
                                    <div class="border">
                                        <div class="product-thumb">
                                            <a href="shop-detail.html">
                                                <span class="non-veg"></span>
                                                <img title="" alt="" src="http://placehold.it/520X535&text=Product3">
                                            </a>
                                        </div>
                                        <div class="product-details">
                                          <div class="product-title">
                                                <a href="shop-detail.html"><h2>Sliced Sea Fish</h2></a>
                                            </div>
                                            <a href="#" class="dt-sc-button small theme-btn">Select Options</a>
                                            <span class="price">$15.00</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="product dt-sc-one-third">
                                    <div class="border">
                                        <div class="product-thumb">
                                            <a href="shop-detail.html">
                                                <span class="veg"></span>
                                                <img title="" alt="" src="http://placehold.it/520X535&text=Product4">
                                            </a>
                                        </div>
                                        <div class="product-details">
                                          <div class="product-title">
                                                <a href="shop-detail.html"><h2>Tuna Chops</h2></a>
                                            </div>
                                            <a href="#" class="dt-sc-button small theme-btn">Select Options</a>
                                            <span class="price">$15.00</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="hr-line"> <div class="caroufred_pager products_pager"></div> </div>
                        <div class="margin60"></div>
                    </section>
                    <h2 class="block-title">Featured Menu</h2>
                    <div class="dt-sc-one-half column first"> 
                        <div class="menu">
                            <div class="dt-sc-one-third column first">
                                <div class="entry-thumb">
                                    <a href="#">
                                        <span class="border rotate">
                                        </span>
                                        <div class="border">
                                            <span class="top-right"></span>
                                            <img src="http://placehold.it/321&text=Menu" alt="" title="" />
                                            <span class="code">Code:TOMFRY</span>
                                            <span class="bottom-left"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dt-sc-two-third column">
                                <div class="entry-detail">
                                    <h3><a href="#">Tomato Special Fry - 1 Plate</a></h3>
                                    <span class="price">$25.00</span>
                                    <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                </div>
                            </div>
                        </div>
                        <div class="menu last">
                            <div class="dt-sc-one-third column first">
                                <div class="entry-thumb">
                                    <a href="#">
                                        <span class="border rotate">
                                        </span>
                                        <div class="border">
                                            <span class="top-right"></span>
                                            <img src="http://placehold.it/321&text=Menu" alt="" title="" />
                                            <span class="code">Code:TOMFRY</span>
                                            <span class="bottom-left"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dt-sc-two-third column">
                                <div class="entry-detail">
                                    <h3><a href="#">Bitter Sweet - 1 Plate</a></h3>
                                    <span class="price">$25.00</span>
                                    <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-one-half column">
                        <div class="menu">
                            <div class="dt-sc-one-third column first">
                                <div class="entry-thumb">
                                    <a href="#">
                                        <span class="border rotate">
                                        </span>
                                        <div class="border">
                                            <span class="top-right"></span>
                                            <img src="http://placehold.it/321&text=Menu" alt="" title="" />
                                            <span class="code">Code:TOMFRY</span>
                                            <span class="bottom-left"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dt-sc-two-third column">
                                <div class="entry-detail">
                                    <h3><a href="#">Olives with Spices</a></h3>
                                    <span class="price">$25.00</span>
                                    <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                </div>
                            </div>
                        </div>
                        <div class="menu last">
                            <div class="dt-sc-one-third column first">
                                <div class="entry-thumb">
                                    <a href="#">
                                        <span class="border rotate">
                                        </span>
                                        <div class="border">
                                            <span class="top-right"></span>
                                            <img src="http://placehold.it/321&text=Menu" alt="" title="" />
                                            <span class="code">Code:TOMFRY</span>
                                            <span class="bottom-left"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dt-sc-two-third column">
                                <div class="entry-detail">
                                    <h3><a href="#">Potato Croquettes</a></h3>
                                    <span class="price">$25.00</span>
                                    <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin50"></div>
                    <h2 class="block-title">Recent Blog</h2>
                    <div class="dt-sc-one-half column first">
                        <div class="blog-post">
                            <div class="dt-sc-one-half column first">
                                <div class="entry-thumb">
                                    <a href="#">
                                        <div class="border">
                                            <span class="top-right"></span>
                                            <img title="" alt="" src="http://placehold.it/321&text=Blog">
                                            <span class="bottom-left"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dt-sc-one-half column">
                                <div class="entry-datail">
                                    <h2><a href="#">A Thought about being Vegan</a></h2>
                                    <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                    <ul class="entry-meta">
                                        <li><span class="fa fa-calendar"></span>21 Aug 2013 </li>
                                        <li><span class="fa fa-user"></span><a href="#">Admin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-one-half column">
                        <div class="blog-post">
                            <div class="dt-sc-one-half column first">
                                <div class="entry-thumb">
                                    <a href="#">
                                        <div class="border">
                                            <span class="top-right"></span>
                                            <img title="" alt="" src="http://placehold.it/321&text=Blog">
                                            <span class="bottom-left"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dt-sc-one-half column">
                                <div class="entry-datail">
                                    <h2><a href="#">Tastes like Chicken - A Test Drive with Veggie</a></h2>
                                    <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                    <ul class="entry-meta">
                                        <li><span class="fa fa-calendar"></span>21 Aug 2013 </li>
                                        <li><span class="fa fa-user"></span><a href="#">Admin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin20"></div>
                    <div class="hr">
                        <span class="driver"></span>
                    </div>
                    <div class="margin20"></div>
                    <section class="intro-text type1">
                        <h2><b>Bella Model</b> - A Restaurant Theme</h2>
                        <div class="column dt-sc-three-fourth first">
                            <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis, id venenatis nibh accumsan.</p>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <a href="#" class="dt-sc-button theme-btn small">Purchase Theme</a>
                        </div>
                    </section>
                </div>
                <div class="margin50"></div>
                <section class="testimonial-wrapper grey-bg">
                        <div class="container">
                            <div class="aligncenter">
                                <span class="fa fa-star-o"></span> <span class="fa fa-star-o"></span> <span class="fa fa-star-o"></span><h2 class="block-title">Reviews</h2><span class="fa fa-star-o"></span> <span class="fa fa-star-o"></span> <span class="fa fa-star-o"></span>
                            </div>
                            <ul class="caroufred_reviews">
                                <li>
                                    <figure class="testimonial-thumb">
                                        <div class="rounded">
                                            <a href="#"><img src="http://placehold.it/128" alt="" title="" /></a>
                                        </div>
                                    </figure>
                                    <div class="testimonial-content-wrapper">
                                        <blockquote>" Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a large and a beautiful Lorem Ipsum passage "<cite><span>Steve Bucami</span><br />Cheif Chef in Alfa Restaurant</cite></blockquote>
                                    </div>
                                </li>
                                <li>
                                    <figure class="testimonial-thumb">
                                        <div class="rounded">
                                            <a href="#"><img src="http://placehold.it/128" alt="" title="" /></a>
                                        </div>
                                    </figure>
                                    <div class="testimonial-content-wrapper">
                                        <blockquote>" Aliquam erat volutpat. Morbi id gravida mauris, vel gravida arcu. Duis tristique sem justo. Donec dignissim ut arcu sed cursus. Nam sem lorem, volutpat eget turpis vitae, venenatis pretium odio. "<cite><span>Adam Walsh</span><br />Fresh Chef in Korala Hotel</cite></blockquote>
                                    </div>
                                </li>
                                <li>
                                    <figure class="testimonial-thumb">
                                        <div class="rounded">
                                            <a href="#"><img src="http://placehold.it/128" alt="" title="" /></a>
                                        </div>
                                    </figure>
                                    <div class="testimonial-content-wrapper">
                                        <blockquote>" Duis viverra aliquam quam vitae posuere. Sed ac vehicula nibh. Donec imperdiet adipiscing tortor, a euismod nisl. Vestibulum sit amet consectetur nisl, nec molestie dui. Donec vitae tincidunt ligula. "<cite><span>Michal Clark</span><br />Head Chef in Mona Restaurant</cite></blockquote>
                                    </div>
                                </li>
                            </ul>                        
                        </div>
                    </section>
                    <div class="margin50"></div>
                    <div class="container">
                        <div class="footer_tweets tweets_container"> </div>
                        <a class="dt-sc-button tweet-btn alignright small" href="#">Follow Us</a>
                    </div>
                </div>
           