<div class="main-container">
                <div class="container">
                    <section id="primary" class="content-full-width menu-items-list">
                    	<div id="page-menu-sticky">
                        	<div class="container">
                                <ul class="menu-categories">
                               
                                    <li>
                                        <div class="cat-item">
                                            <a href="#breakfast"><span class="item-one"></span><br />breakfast</a>
                                        </div>
                                        <a href="#" class="star"><span class="fa fa-star-o"><span></span></span></a>
                                    </li>
                                    <li>
                                        <div class="cat-item">
                                            <a href="#lunch"><span class="item-two"></span><br />Lunch</a>
                                        </div>
                                        <a href="#" class="star"><span class="fa fa-star-o"><span></span></span></a>
                                    </li>
                                    <li>
                                        <div class="cat-item">
                                            <a href="#dinner"><span class="item-three"></span><br />Dinner</a>
                                        </div>
                                        <a href="#" class="star"><span class="fa fa-star-o"><span></span></span></a>
                                    </li>
                                    <li>
                                        <div class="cat-item">
                                            <a href="#desserts"><span class="item-four"></span><br />Desserts</a>
                                        </div>
                                        <a href="#" class="star"><span class="fa fa-star-o"><span></span></span></a>
                                    </li>
                                    <li>
                                        <div class="cat-item">
                                            <a href="#cakes"><span class="item-five"></span><br />Cakes</a>
                                        </div>
                                        <a href="#" class="star"><span class="fa fa-star-o"><span></span></span></a>
                                    </li>
                                    <li>
                                        <div class="cat-item">
                                            <a href="#ice-creams"><span class="item-six"></span><br />Ice Creams</a>
                                        </div>
                                        <a href="#" class="star"><span class="fa fa-star-o"><span></span></span></a>
                                    </li>
                                </ul>
							</div>
                        </div>    
                        <div class="margin70"></div>
                        <h2 class="block-title-bor" id="breakfast">Breakfast</h2>
                        <div ng-repeat="product in inventory">
                        
                        
                        
                            <div ng-if="product.type == 'product' ">
       
                        
                       
                        
                        <div  class="dt-sc-one-half column first">
                            
                            <div class="menu last">
                                <div class="dt-sc-one-third column first">
                                    <div class="entry-thumb">
                                        <a href="#">
                                            <span class="border rotate">
                                            </span>
                                            <div class="border">
                                                <span class="top-right"></span>
                                                <img title="" alt="" src="http://placehold.it/321&amp;text=Menu">
                                                <span class="code">Code:TOMFRY</span>
                                                <span class="bottom-left"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="dt-sc-two-third column">
                                    <div class="entry-detail">
                                        <h3><a href="#">{{product.name}}</a></h3>
                                        <span class="price">$25.00</span>
                                        <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="dt-sc-one-half column">
                            <div class="menu">
                                <div class="dt-sc-one-third column first">
                                    <div class="entry-thumb">
                                        <a href="#">
                                            <span class="border rotate">
                                            </span>
                                            <div class="border">
                                                <span class="top-right"></span>
                                                <img title="" alt="" src="http://placehold.it/321&amp;text=Menu">
                                                <span class="code">Code:TOMFRY</span>
                                                <span class="bottom-left"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="dt-sc-two-third column">
                                    <div class="entry-detail">
                                        <h3><a href="#">Little Rolls of Ham Stuffect</a></h3>
                                        <span class="price">$25.00</span>
                                        <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="menu last">
                                <div class="dt-sc-one-third column first">
                                    <div class="entry-thumb">
                                        <a href="#">
                                            <span class="border rotate">
                                            </span>
                                            <div class="border">
                                                <span class="top-right"></span>
                                                <img title="" alt="" src="http://placehold.it/321&amp;text=Menu">
                                                <span class="code">Code:TOMFRY</span>
                                                <span class="bottom-left"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="dt-sc-two-third column">
                                    <div class="entry-detail">
                                        <h3><a href="#">Fish and Salmon Eggs</a></h3>
                                        <span class="price">$25.00</span>
                                        <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         -->
                        <div class="margin50"></div>
                        
                        </div>
                        
                        </div>
                    </section>
                </div>
            </div>
            