<div class="main-container">
                <div class="container">
                    <section id="primary" class="content-full-width">
                            <div class="product">
                            <div class="dt-sc-one-half column first">
                                    <div class="border">
                                        <div class="images product-thumb">
                                            <img src="http://placehold.it/520X535&text=Product1" alt="" title="">
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-sc-one-half column">
                                    <div class="summary entry-summary">
                                    <a href="#" class="product_meta">Vegeterian</a>
                                        <h2 class="product_title entry-title">Tuna Chops Per Plate</h2>
                                        <P class="price"><span class="amount">$25.00</span></P>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                        <form action="#" class="cart">
                                            <div class="dt-sc-one-third column first">
                                                <label>Select Quantity</label>
                                                <select>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                                <input type="submit" value="add to cart" class="small theme-btn dt-sc-button">
                                            </div>
                                            <div class="dt-sc-two-third column">
                                                <label>Select Variety</label>
                                                <select>
                                                    <option>Spicy</option>
                                                    <option>Spicy 1</option>
                                                    <option>Spicy 2</option>
                                                </select>
                                                <input type="submit" value="add to wishlist" class="small theme-btn dt-sc-button">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="margin50"></div>
                            <div class="dt-sc-tabs-container">
                                <ul class="dt-sc-tabs-frame">
                                    <li><a class="current" href="#">Description</a></li>
                                    <li><a href="#">Reviews</a></li>
                                </ul>
                                <div style="display:block;" class="dt-sc-tabs-frame-content">
                                    <p><b>Richard McClintock,</b> a Latin professor at Hampden-
                                        <h2>How fresh is this item?</h2>Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.</p>
                                    <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will </p>
                                    <p>Roin a bibendum nibh. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis. Nunc fermentum sit amet mi nec consequat. Praesent porttitor nulla sit amet dui lobortis, id venenatis nibh accumsan.</p>
                                    <h2>Ingredients</h2>
                                    <ul class="dt-sc-fancy-list beer">
                                        <li>Lorem ipsum dolor sit</li>
                                        <li>Praesent convallis nibh</li>
                                    </ul>
                                </div>
                                <div style="display:none;" class="dt-sc-tabs-frame-content">
                                    <p>Aliquam euismod feugiat est, congue elementum justo condimentum sit amet. Nullam vitae risus ut velit condimentum egestas vitae eget enim. Vivamus cursus, sem sed tristique posuere, libero tellus dictum nisl, nec rhoncus odio odio et orci. Ut placerat aliquam elit, id egestas sem. Sed tristique eu libero et malesuada. Pellentesque non pharetra dui. Aliquam vel augue eu augue ornare ullamcorper.</p>
                                </div>                   
                                </div>
                        </div>
                        <div class="margin50"></div>
                        <h2 class="block-title">Recommended Items</h2>
                        <ul class="products">
                            <li class="product dt-sc-one-fourth column first">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="shop-detail.html">
                                            <span class="non-veg"></span>
                                            <img src="http://placehold.it/520X535&text=Product2" alt="" title="">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="shop-detail.html"><h2>Tuna Chops</h2></a>
                                        </div>
                                        <a class="dt-sc-button small theme-btn" href="#">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-fourth column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="shop-detail.html">
                                            <span class="veg"></span>
                                            <img src="http://placehold.it/520X535&text=Product3" alt="" title="">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="shop-detail.html"><h2>Grilled Chicken</h2></a>
                                        </div>
                                        <a class="dt-sc-button small theme-btn" href="#">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-fourth column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="shop-detail.html">
                                            <span class="non-veg"></span>
                                            <img src="http://placehold.it/520X535&text=Product4" alt="" title="">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="shop-detail.html"><h2>Fish Chops</h2></a>
                                        </div>
                                        <a class="dt-sc-button small theme-btn" href="#">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-fourth column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="shop-detail.html">
                                            <span class="non-veg"></span>
                                            <img src="http://placehold.it/520X535&text=Product5" alt="" title="">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="shop-detail.html"><h2>Mutton Chops</h2></a>
                                        </div>
                                        <a class="dt-sc-button small theme-btn" href="#">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="margin50"></div>
                    </section>
                </div>
            </div>
            