<div class="main-container">
                <div class="container">
                    <section id="primary" class="content-full-width">
                        <ul class="products">
                            <li class="product dt-sc-one-third column first">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="non-veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product1">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Mutton Chops</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-third column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product2">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Grilled Chicken</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-third column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="non-veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product3">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Fish Chops</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <div class="margin40"></div>
                            <li class="product dt-sc-one-third column first">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="non-veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product4">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Tuna Chops</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-third column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product5">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Sliced Sea Fish</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-third column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="non-veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product6">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Deep Prawn Fry</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <div class="margin40"></div>
                            <li class="product dt-sc-one-third column first">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="non-veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product7">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Mutton Chops</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-third column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product8">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Grilled Chicken</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product dt-sc-one-third column">
                                <div class="border">
                                    <div class="product-thumb">
                                        <a href="#/shopdetail">
                                            <span class="non-veg"></span>
                                            <img title="" alt="" src="http://placehold.it/520X535&text=Product1">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-title">
                                            <a href="#/shopdetail"><h2>Fish Chops</h2></a>
                                        </div>
                                        <a href="#/shopdetail" class="dt-sc-button small theme-btn">Select Options</a>
                                        <span class="price">$15.00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="margin50"></div>
                    </section>
                </div>
            </div>
            